.digitalStyle-exception {
    margin: 5px 5px;
    height: 10px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    background: #f5222d;
}

.digitalStyle-success {
    margin: 5px 5px;
    height: 10px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    background: #04B404;
}

.digitalStyle-warning {
    margin: 5px 5px;
    height: 10px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    background: #D7DF01;
}

.digitalStyle-active {
    margin: 5px 5px;
    height: 10px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    background: #1890ff;
}

.digitalStyle-disabled {
    margin: 5px 5px;
    height: 10px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    background: #A4A4A4;
}

.digitalStyle-message {
    margin: 5px 5px;
    width: 200px;
    float: rignt;
    font-weight: bold;
}

.cardStyle {
    background: #FAFAFA;
    min-width: 250px;
    margin: 5px;
}

.CardsColumn {
    display: flex;
    flex-wrap: wrap;   
}

.CardsColumn > div {
    flex: 1;
    margin: 10px;
}

.TemperatureCardStyle {
    white-space: nowrap;
    margin:10px 5px
}